.citation {
    font-style: italic;
    color: cornflowerblue;
}

.our-team {
    text-align: center;
}

.div-button {
    text-align: center;
    margin: 0 0 13% 0;
}

.button {
    background: transparent;
    border: 1px solid cornflowerblue;
    width: 20%;
    height: 11vh;
    border-radius: 4px;
}

.team {
    box-shadow: 0px 0px 1px 0px cornflowerblue;
    margin: 0px 0px 2% 0
}

.presentation {
    padding: 1% 0 0 0;

}

.presentation:hover {
    border: 1px solid cornflowerblue;
    border-radius: 2px;
}

section.sec-deux {
    background: #f9f9f9;
    min-height: 100vh;
}

section.sec-deux .title {
    margin-bottom: 70px;
}

section.sec-deux h3 {
    font-weight: 600;
    color: #373942;
    text-align: center;
}

section.sec-deux ul {
    list-style: none;
    margin-bottom: 0;
    width: 100%;
    height: 100%;
    padding: 30px 0;
}

section.sec-deux ul li {
    border-radius: 3px;
    box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.1);
    padding: 37px 0 53px 0;
}

section.sec-deux ul li:not(:last-child) {
    margin-bottom: 50px;
}

section.sec-deux ul li .item-content {
    font-size: 14px;
    color: #4d4d4d
}

section.sec-deux .item-title {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
    color: #373942
}

section.sec-deux ul li img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.video {
    top: 50px;
}

.text {
    bottom: 32px;

}

.lien-cab {
    text-decoration: none;
    color: black;
}

.lien-cab:hover {
    text-decoration: none;
    color: cornflowerblue;
}
.lien-dep {
    text-decoration: none;
    color: black;
}

.lien-dep:hover {
    text-decoration: none;
    color: cornflowerblue;
}

.titre-cab {
    padding: 15px 0 23px 0;
}
.pres-cab:hover {
    background-color: black;
    color: cornflowerblue;
    transition-duration: 0.5s;
}
.pres-cab:hover a {
    color: cornflowerblue;
}
.a-venir{
    border: 2px dashed black;
}
.a-venir:hover{
    transition: 0.5s;
    border: 2px dashed cornflowerblue;
}
.a-venir img{
    padding-top: 2%;
}
.a-venir h3{
    padding-top: 16%;
}
.lien-membre {
    color:black;
}
.lien-membre:hover{
    color: cornflowerblue;
    text-decoration: none;
}
.lien-valeurs{
    font-weight:bolder;
    font-size: 14px;
}

.lien-valeurs:hover{
    text-decoration: none;
}


.navbar{
    background: black;
    border-radius:0;


}
.nav-link{
    color: white !important;
}
.footer{
    background: black;
}
.indent{
    margin: 1% 3% 1% 4%;
}

table {
    border-collapse: collapse;
    width: 100%;
}
th {
    background-color: #eee;
    font-weight: bold;
}
th,
td {
    border: 0.125em solid #333;
    line-height: 1.5;
    padding: 0.75em;
    text-align: left;
}
/* Stack rows vertically on small screens */
@media (max-width: 30em) {
    /* Hide column labels */
    thead tr {
        position: absolute;
        top: -9999em;
        left: -9999em;
    }
    tr {
        border: 0.125em solid #333;
        border-bottom: 0;
    }
    /* Leave a space between table rows */
    tr + tr {
        margin-top: 1.5em;
    }
    /* Get table cells to act like rows */
    tr,
    td {
        display: block;
    }
    td {
        border: none;
        border-bottom: 0.125em solid #333;
        /* Leave a space for data labels */
        padding-left: 50%;
    }
    /* Add data labels */
    td:before {
        content: attr(data-label);
        display: inline-block;
        font-weight: bold;
        line-height: 1.5;
        margin-left: -100%;
        width: 100%;
    }
}
/* Stack labels vertically on smaller screens */
@media (max-width: 20em) {
    td {
        padding-left: 0.75em;
    }
    td:before {
        display: block;
        margin-bottom: 0.75em;
        margin-left: 0;
    }
}
.li{
height: 160px;
}